# Environment variables

# Express port
PORT=3000

# AWS CDK Deployment
AWS_CDK_STACK_ID="MyStack"
AWS_DEFAULT_REGION=eu-central-1
AWS_ACCESS_KEY_ID=xxxx
AWS_SECRET_ACCESS_KEY=xxxx

# Comma-separated list of allowed origins for Cross-Origin Resource Sharing
CORS_ORIGINS=http://localhost:8000

# Comma-separated list of env vars, which should be deployed with the AWS Lambda function so that it can access them at runtime
AWS_LAMBDA_RUNTIME_ENV_VARS
