# Public URL of the Gatsby site
PUBLIC_URL=http://localhost

# Defaults to `cdn.contentful.com` but is `preview.contentful.com` if you want to use the Content Preview API
CONTENTFUL_HOST=cdn.contentful.com
# Can be obtained from the url when logged in
CONTENTFUL_SPACE_ID=spaceid
# Specify the environment of the space, defaults to `master`
CONTENTFUL_ENVIRONMENT=master
# Create this in the backend UI under "Settings > API keys"
CONTENTFUL_MANAGEMENT_TOKEN=management_token
