.button {
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  top: 3rem;
  right: 0;
  width: 250px;
  min-height: 5rem;
  box-shadow: 1px 1px 5px #000;
  color: #000;
  background-color: white;
  z-index: 2;
}

.open {
  display: block;
}
